<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  {{-- font --}}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet" />

  {{-- talwind and apline --}}
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">


  <script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
</head>

<body class="font-family-karla h-screen relative font-['Nunito']">
  <div class=" flex flex-row w-full h-screen">

    @include('components/ui/sidebar')

    <div class="bg-gray-500 w-full flex flex-col">
      <div class="px-6 py-2 w-full bg-white">
        <!-- Content Head -->
        <h1 class="text-2xl font-bold">{{title}}</h1>
      </div>
      <div class="p-4 flex-grow overflow-y-auto">
        {{{ await $slots.main() }}}
      </div>
    </div>
  </div>

  <script type="module">
    import preline from '/js/preline.js'
  </script>
  
  <script>

    function showToast(type, title, text) {
        Swal.fire({
            title: title,
            text: text,
            icon: type,
            toast: true,
            position: 'bottom-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });
    }

    new DataTable('.myTable');
  </script>
</body>
